header{
  display: flex;
  justify-content: space-between;
  background-color:#000;
  border-bottom:5px solid rgb(253, 140, 2);
  

  
}
header img{
  width:70px;
  height:70px ;
  
}
nav{
  padding:10px 20px;
}

a{
  
  display: inline-flex;
  align-items: center;
  font-size:20px;
  font-family:'Lexend Deca', sans-serif;
  color: #737373;
  text-decoration: none;
  margin-right:30px;
}
a:before{
  width:10px;
  height:10px;
  content: "";
  background-color:rgb(253, 140, 2);
  margin-right:10px;
}
#btn{
  display:inline-block;
  color:#FFF;
  background-color:#404040;
  height:50px;
  padding:3px 20px;
  margin-right:0;
  line-height:60px;
  box-shadow:2px 2px 1px rgba(253, 140, 2, 0.472); 
}
#btn:hover{
  background-color: #404040cc;
}