header{
  display: flex;
  justify-content: space-between;
  background-color:#111111;
  border-bottom:5px solid #AD3535;
  

  
}
header img{
  width:70px;
  height:70px ;
  
}
nav{
  padding:10px 20px;
}

a{
  
  display: inline-flex;
  align-items: center;
  font-size:20px;
  font-family:'Lexend Deca', sans-serif;
  color: #918C8A;
  text-decoration: none;
  margin-right:30px;
  transition: 700ms;
}
a:hover{
  color: #FFF;
  
}
a:before{
  width:10px;
  height:10px;
  content: "";
  background-color:#AD3535;
  margin-right:10px;
}
#btn{
  display:inline-block;
  color:#FFF;
  background-image:linear-gradient(#9E101A,#C21926);
  height:50px;
  padding:3px 20px;
  margin-right:0;
  line-height:60px;
  transition: 400ms ease-in-out;
  border-radius:4px;

}
#btn:hover{
  background-image:linear-gradient(#C21926,#9E101A,);
  transform: scale(1.08);

}




