*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:'Roboto', sans-serif;
  ;
}
body{
  
  background-color:#D9D9D9;
}
header{
  
  color: white;
  background-color:black;
  display: flex;
  justify-content:space-between;
  align-items: center;
  min-width: 630px;
  border-bottom:10px solid #29378a;
  padding: 10px 20px;
}
i{
 
  text-transform: uppercase;
  font-weight: bold;
  font-size:30px;
  
 
}


 
 


a {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size:20px;
  text-shadow:2px 2px 10px #29378a;
  margin: 5px;
  margin-left:10px;
  padding: 10px;
  font-family:'Roboto', sans-serif;


}
a:hover{
  color: #2160AF;
}
#button{
  background-color:#5f5e5e;
  box-shadow:5px 5px 0 #29378a;
  padding-right:25px;
  color:white;
  border-radius: 3px;
  
}
#button::before{
  content:"";
  background-color:#5f5e5e;
  

}
a::before{
  content:"";
  background-color:  #29378a;
  width: 10px;
  height: 10px;
  margin-right:10px;

}


